<br>
<a ui-sref="kategoriBarang.new">NEW</a>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nama Kategori Barang</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="value in listKategoriBarang">
            <td>{{value.id}}</td>
            <td>{{value.namakategoribarang}}</td>
            <td>
                <button ng-click="detailView(value)">Detail</button>
                <button ng-click="editView(value)">Edit</button>
                <button ng-click="remove(value)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

