<ul>
	<li>
		id: <input type="text" ng-model="detailBarang.id" disabled> <br>
		Kategori Barang: <input type="text" ng-model="detailBarang.kategoriBarang.namakategoribarang" disabled> <br>
		Nama Barang: <input type="text" ng-model="detailBarang.namabarang" disabled> <br>
		Stock Barang: <input type="number" ng-model="detailBarang.stockbarang" disabled><br>
		Kategori Barang: <input type="text" ng-model="detailBarang.specbarang" disabled><br>
	</li>
</ul>
<button ng-click="editView(detailBarang)">Edit</button>
<a ui-sref="barang.list">BACK</a>