<ul>
	<li>
		Select Kategori Barang: 
		<select ng-model="newBarang.idkategoribarang" ng-options="obj.id as obj.namakategoribarang for obj in KatBarangs">
      		<option value="">-- Select Kategori Barang --</option>
    	</select><br>
		Nama Barang: <input type="text" ng-model="newBarang.namabarang"> <br>
		Stock Barang: <input type="number" ng-model="newBarang.stockbarang"><br>
		Spec Barang: <input type="text" ng-model="newBarang.specbarang"><br>
	</li>
</ul>
<button ng-click="create()">Create</button>
<a ui-sref="barang.list">BACK</a>