<ul>
	<li>
		id: <input type="text" ng-model="editPermintaanBarang.id" disabled> <br>
		Select Barang: 
		<select ng-model="editPermintaanBarang.idbarang" ng-options="obj.id as obj.namabarang for obj in Barangs">
      		<option value="">-- Select Barang --</option>
    	</select><br>
    	Select Lokasi: 
		<select ng-model="editPermintaanBarang.idlokasi" ng-options="obj.id as obj.namalokasi for obj in Lokasis">
      		<option value="">-- Select Lokasi --</option>
    	</select><br>
		Jumlah Barang Masuk: <input type="number" ng-model="editPermintaanBarang.jlhPermintaanBarang" ><br>
		Tgl Masuk: <input type="date" ng-model="editPermintaanBarang.tglmasuk"><br>
	</li>
</ul>

<button ng-click="update()">Update</button>
<a ui-sref="permintaanBarang.list">BACK</a>
